@charset "UTF-8";
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN w3", "Meiryo", "メイリオ", sans-serif;
  font-size: 16px;
  color: #301F1B;
  background: url("../img/長方形 151@2x.png") fixed;
}

.inner {
  max-width: 810px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .inner {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .inner {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.btn-red {
  background-color: #C63205;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.btn-brown {
  background-color: #603813;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.section-title {
  font-size: 43px;
  text-align: center;
  line-height: 57px;
}

@media (max-width: 900px) {
  .section-title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

header {
  height: 90px;
}

.nav-wrap {
  width: 100%;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 23px 0 22px;
  width: 600px;
  margin: 0 auto;
}

.header-nav ul li {
  font-size: 22px;
  line-height: 20px;
}

.header-nav ul li:last-child {
  margin: 0;
}

@media (max-width: 1000px) {
  .header-nav ul li {
    font-size: 18px;
    font-weight: bold;
  }
}

.header-nav-top {
  color: #421F15;
  text-align: center;
}

.header-nav-top::before {
  content: "トップ";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-top::before {
    font-size: 10px;
  }
}

.header-nav-news {
  color: #421F15;
  text-align: center;
}

.header-nav-news::before {
  content: "ニュース";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-news::before {
    font-size: 10px;
  }
}

.header-nav-story {
  color: #421F15;
  text-align: center;
}

.header-nav-story::before {
  content: "ストーリー";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-story::before {
    font-size: 10px;
  }
}

.header-nav-comments {
  color: #421F15;
  text-align: center;
}

.header-nav-comments::before {
  content: "著名人コメント";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-comments::before {
    font-size: 10px;
  }
}

.header-nav-cast {
  color: #421F15;
  text-align: center;
}

.header-nav-cast::before {
  content: "キャスト";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-cast::before {
    font-size: 10px;
  }
}

.header-nav-inquiry {
  color: #421F15;
  text-align: center;
}

.header-nav-inquiry::before {
  content: "問い合わせ";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-inquiry::before {
    font-size: 10px;
  }
}

.hamburger-btn {
  width: 50px;
  height: 50px;
  position: relative;
  position: fixed;
  top: 15px;
  right: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  display: none;
  z-index: 100;
}

@media (max-width: 767px) {
  .hamburger-btn {
    display: block;
  }
}

.hamburger-btn span {
  position: absolute;
  background-color: #301F1B;
  border-radius: 4px;
  display: block;
  width: 84%;
  height: 16%;
  left: 50%;
  top: 50%;
  margin: -8% 0 0 -42%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hamburger-btn span::before, .hamburger-btn span::after {
  content: "";
  position: absolute;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: -8% 0 0 -50%;
  background-color: #301F1B;
}

.hamburger-btn span::before {
  margin-top: -38%;
}

.hamburger-btn span::after {
  margin-top: 19%;
}

.hamburger-btn.is-checker {
  right: 53%;
}

.hamburger-btn.is-checker span {
  background-color: transparent;
}

.hamburger-btn.is-checker span::before, .hamburger-btn.is-checker span::after {
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: #fff;
}

.hamburger-btn.is-checker span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hamburger-btn.is-checker span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hamburger {
  z-index: 40;
  position: fixed;
  width: 50%;
  background: url("../../img/長方形 151@2x.png");
  right: 0;
  height: 100%;
  font-size: 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  top: 0;
}

.hamburger.is-checker {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburger-back {
  display: none;
  top: 0;
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 35;
  opacity: 0;
}

.hamburger-back.is-checker {
  opacity: 0.5;
  display: block;
}

.hamburger__lists {
  text-align: center;
  margin-top: 100px;
}

.hamburger__list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.top {
  background: url(../../img/211@2x.jpg) no-repeat center center/cover;
}

.top-inner {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 950px) {
  .main-title {
    text-align: center;
  }
}

.main-title img {
  padding-top: 60px;
  width: 920px;
}

@media (max-width: 950px) {
  .main-title img {
    width: 700px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .main-title img {
    width: 100%;
    padding: 40px 20px 20px;
  }
}

@media (max-width: 950px) {
  .top-text-left {
    text-align: center;
  }
}

.top-text-left img {
  padding-top: 184px;
  padding-bottom: 60px;
  width: 370px;
}

@media (max-width: 950px) {
  .top-text-left img {
    width: 300px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .top-text-left img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 400px;
    padding-right: 65px;
    padding-left: 65px;
    width: 100%;
  }
}

.top-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 950px) {
  .top-text-wrap {
    display: block;
    padding-bottom: 50px;
  }
}

.top-text-right {
  margin-left: 210px;
  margin-top: 88px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

@media (max-width: 950px) {
  .top-text-right {
    margin-top: 0;
    margin-left: 0;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
  .top-text-right p {
    padding: 0 40px;
  }
}

@media (max-width: 950px) and (max-width: 767px) {
  .top-text-right p {
    font-size: 12px;
  }
}

.top-btn {
  position: absolute;
  bottom: -30px;
  right: 0;
  margin-top: 30px;
  text-align: right;
}

@media (max-width: 950px) {
  .top-btn {
    right: 50px;
  }
}

.top-btn .top-btn-red {
  text-align: center;
  line-height: 60px;
  padding: 21px 45px 19px;
}

@media (max-width: 950px) {
  .top-btn .top-btn-red {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .top-btn .top-btn-red {
    padding: 15px 20px 12px;
    font-size: 10px;
  }
}

.intro-inner {
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.29) !important;
  background: url(../../img/左上画像装飾@2x.png) no-repeat top left/230px;
  margin: 60px auto 56px;
  padding-top: 26px;
}

@media (max-width: 900px) {
  .intro-inner {
    background-size: 25%;
  }
}

.introduction-title {
  font-family: "Futura-CondensedMedium", "Futura", sans-serif;
}

@media (max-width: 900px) {
  .introduction-title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .introduction-title {
    font-size: 28px;
  }
}

.introduction-sub-title {
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 900px) {
  .introduction-sub-title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .introduction-sub-title {
    font-size: 17px;
    letter-spacing: -0.1em;
  }
}

.introduction-text-wrap {
  padding: 25px 30px 30px;
  line-height: 1.75;
  font-size: 12px;
}

.news {
  margin-bottom: 62px;
}

.news-inner {
  position: relative;
}

.news-title {
  margin-bottom: 27px;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .news-items {
    display: block;
    margin-bottom: 60px;
  }
}

.news-img {
  max-width: 100%;
}

.news-item {
  display: block;
  width: calc(33.3% - 30px * 2 / 3);
  margin-right: 30px;
}

.news-item:nth-child(n + 4) {
  width: calc(50% - 30px / 2);
}

.news-item:nth-child(3), .news-item:nth-child(5) {
  margin-right: 0;
}

.news-item img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .news-item img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .news-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .news-item:nth-child(n + 4) {
    width: 100%;
  }
}

.news-item img {
  width: 100%;
}

.news-item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .news-item-flex {
    display: block;
    width: 100%;
  }
}

.flex-img {
  max-width: 100%;
  height: auto;
}

.news-item-bottom {
  margin-top: -4px;
  background-color: #fff;
  padding: 14px 15px 49px;
}

@media (max-width: 767px) {
  .news-item-bottom {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

.news-item-bottom time {
  font-size: 12px;
}

.news-item-bottom h4 {
  font-weight: 600;
}

.news-item-bottom-only2 {
  margin: 0;
  padding-bottom: 14px;
  width: 100%;
}

@media (max-width: 767px) {
  .news-item-bottom-only2 {
    margin-top: -5px;
    padding-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .news-btn {
    text-align: center !important;
  }
}

.news-btn-red {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 10px 21px 11px;
}

@media (max-width: 767px) {
  .news-btn-red {
    position: static;
  }
}

.story {
  background: url(../../img/story-img@2x.jpg) no-repeat left center/cover;
  padding-top: 26px;
  padding-bottom: 50px;
}

.story-title {
  margin-bottom: 17px;
  color: #fff;
}

.story-text p {
  line-height: 1.75;
  margin-left: auto;
  font-size: 12px;
  color: #fff;
}

.story-btn {
  padding-top: 50px;
  text-align: right;
}

@media (max-width: 767px) {
  .story-btn {
    text-align: center;
  }
}

.story-btn .story-btn-red {
  padding: 7px 15.85px 7.43px;
}

.comments {
  padding-top: 55px;
  padding-bottom: 245px;
}

.comments-title {
  padding-bottom: 26px;
}

.comments-text {
  text-align: center;
  font-size: 24px;
  padding-bottom: 30px;
}

.comments-content {
  width: 100%;
  min-height: 214px;
  background: url(../../img/185@2x.jpg) no-repeat center center/cover;
  color: #fff;
}

@media (max-width: 900px) {
  .comments-content {
    height: 250px;
  }
}

@media (max-width: 540px) {
  .comments-content {
    background-image: none;
    height: 100%;
  }
}

.comments-body {
  padding: 44px 0 0 30px;
  text-align: left;
}

@media (max-width: 540px) {
  .comments-body {
    padding: 30px 30px 30px 30px;
    background-color: #301F1B;
  }
}

.comments-human-title {
  padding-bottom: 15px;
}

.comments-human-title span {
  font-size: 26px;
}

.comments-human-text {
  font-size: 14px;
  line-height: 1.57;
  max-width: 420px;
  width: 100%;
}

.comments-btn {
  text-align: right;
  margin-right: 14.29px;
  margin-top: 6.9px;
}

@media (max-width: 540px) {
  .comments-btn {
    margin-top: 30px;
    margin-right: 0;
    text-align: center;
  }
}

.comments-btn .comments-btn-red {
  padding: 8px 31px 9px;
}

.comments-sp-img img {
  display: none;
}

@media (max-width: 540px) {
  .comments-sp-img img {
    display: block;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 70%;
       object-position: 70%;
  }
}

.cast {
  background-color: #FFFFFFE6;
  padding-bottom: 30px;
  position: relative;
  height: 660px;
}

@media (max-width: 767px) {
  .cast {
    height: 1500px;
  }
}

@media (max-width: 624px) {
  .cast {
    height: 1600px;
  }
}

@media (max-width: 464px) {
  .cast {
    height: 1700px;
  }
}

@media (max-width: 382px) {
  .cast {
    height: 1800px;
  }
}

@media (max-width: 330px) {
  .cast {
    height: 1860px;
  }
}

.cast-inner {
  position: absolute;
  top: -189px;
  right: 0;
  left: 0;
}

.cast-title {
  padding-bottom: 22px;
}

.cast-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .cast-items {
    display: block;
  }
}

@media (max-width: 767px) {
  .cast-item {
    text-align: center;
    margin-bottom: 40px;
  }
}

.cast-item img {
  width: 220px;
  height: 220px;
  border-radius: 1000px;
}

.human {
  padding-top: 38.77px;
  padding-bottom: 12.23px;
  text-align: center;
  line-height: 30px;
  height: 82.5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .human {
    padding-top: 20px;
  }
}

.human2 {
  font-size: 18px;
}

.human3 {
  font-size: 12px;
}

.cast-item-text {
  font-size: 12px;
  line-height: 1.75;
  padding-bottom: 15.44px;
}

.cast-btn {
  text-align: center;
  margin: 0 auto;
  width: 115.7px;
}

.cast-btn .cast-btn-red {
  font-weight: 600;
  display: inline-block;
  padding: 6px 0;
  width: 100%;
  color: #C63205;
  background-color: #ffffe6;
  border: 5px solid #C63205;
  font-size: 14px;
}

.schedule-inner {
  margin: 60px auto 30px;
  background-color: rgba(255, 255, 255, 0.29);
}

.schedule-title {
  padding-top: 26px;
}

@media (max-width: 767px) {
  .schedule-title {
    padding-top: 0;
  }
}

.schedule-nav {
  padding: 23px 83px 57px 87px;
}

@media (max-width: 767px) {
  .schedule-nav {
    padding: 10px 20px 20px 20px;
  }
}

.schedule-nav .schedule-nav-item {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 18px;
}

.schedule-nav .schedule-nav-item:last-child {
  padding-bottom: 0;
}

@media (max-width: 900px) {
  .schedule-nav .schedule-nav-item {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .schedule-nav .schedule-nav-item {
    display: block;
    font-size: 20px;
    text-align: left;
    width: 200px;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .schedule-nav .schedule-nav-item :first-child() {
    padding-top: 0;
  }
}

.schedule-nav-item-link {
  border-bottom: solid 1px #301F1B;
}

.schedule-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media (max-width: 540px) {
  .schedule-btns {
    display: block;
  }
}

.schedule-brown-btn {
  padding: 22px 42px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .schedule-brown-btn {
    display: block;
    width: 193px;
    height: 60px;
    margin: 30px auto;
    padding: 22px 0;
    text-align: center;
  }
}

.schedule-red-btn {
  padding: 22px 42px;
  font-size: 13px;
  margin-left: 60px;
}

@media (max-width: 767px) {
  .schedule-red-btn {
    display: block;
    width: 193px;
    height: 60px;
    margin: 30px auto;
    padding: 22px 0;
    text-align: center;
  }
}

.inner {
  position: relative;
}

.mainvisual-common {
  background: url("../../img/119@2x.jpg") no-repeat top center/cover;
  margin-bottom: 34.48px;
}

@media (max-width: 767px) {
  .mainvisual-common {
    background: url("../../img/211@2x.jpg") no-repeat center center/cover;
  }
}

.mainvisual-common-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 58px 0 54px;
}

.mainvisual-common-imgs .mainvisual-text1 {
  width: 460px;
}

@media (max-width: 900px) {
  .mainvisual-common-imgs .mainvisual-text1 {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .mainvisual-common-imgs .mainvisual-text1 {
    margin: 0 auto;
    width: 100%;
  }
}

.mainvisual-common-imgs .mainvisual-text1 img {
  width: 100%;
}

.mainvisual-common-imgs .mainvisual-text2 {
  width: 250px;
  margin-top: 9px;
}

@media (max-width: 900px) {
  .mainvisual-common-imgs .mainvisual-text2 {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .mainvisual-common-imgs .mainvisual-text2 {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
  }
}

.mainvisual-common-imgs .mainvisual-text2 img {
  width: 100%;
}

@media (max-width: 767px) {
  .mainvisual-common-imgs {
    display: block;
  }
}

.mainvisual-common-btn {
  position: absolute;
  bottom: -5px;
  right: 0;
}

.mainvisual-common-btn .mainvisual-common-btn-red {
  padding: 11px 15px;
  font-size: 12px;
}

.breadcrumb {
  background-color: transparent;
  font-size: 12px;
  padding: 0 0 23.94px 0;
  margin: 0;
}

.archive-news {
  margin-bottom: 62px;
}

.archive-news-title {
  margin-bottom: 27px;
}

.archive-news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .archive-news-items {
    display: block;
    margin-bottom: 60px;
  }
}

.archive-news-img {
  max-width: 100%;
}

.archive-news-item {
  width: calc(33.3% - 30px * 2 / 3);
  display: block;
  margin-right: 30px;
}

.archive-news-item:nth-child(n+4) {
  margin-top: 29.06px;
}

.archive-news-item:nth-child(3), .archive-news-item:nth-child(6), .archive-news-item:nth-child(9) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .archive-news-item:nth-child(3), .archive-news-item:nth-child(6), .archive-news-item:nth-child(9) {
    margin: 0 auto;
  }
}

.archive-news-item img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .archive-news-item img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .archive-news-item {
    width: 80%;
    margin: 0 auto 30px;
  }
}

.archive-news-item img {
  width: 100%;
}

.archive-news-item-bottom {
  margin-top: -4px;
  background-color: #fff;
  padding: 14px 15px 49px;
}

@media (max-width: 767px) {
  .archive-news-item-bottom {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

.archive-news-item-bottom time {
  font-size: 12px;
}

.archive-news-item-bottom h4 {
  font-weight: 600;
}

.news-pagination {
  text-align: center;
}

.news-pagination span {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 10px;
  background-color: #000;
  color: #fff;
  line-height: 16px;
}

.news-pagination span:last-child {
  background-color: transparent;
  border: solid 4px #000;
  padding: 2px 6px;
  color: #000;
  font-weight: bold;
}

.news-single-title {
  margin-bottom: 26px;
}

.news-single-item {
  margin-bottom: 30.29px;
}

.news-single-img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.middle-text {
  background-color: #000;
  color: #fff;
  padding-top: 15px;
}

.middle-text time {
  font-size: 12px;
  padding-left: 30px;
}

.middle-text p {
  font-size: 26px;
  padding-top: 12px;
  padding-left: 30px;
  padding-bottom: 12px;
}

@media (max-width: 767px) {
  .middle-text p {
    font-size: 20px;
  }
}

.bottom-text {
  background-color: #fff;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .bottom-text {
    padding-bottom: 50px;
  }
}

.bottom-text p {
  padding: 35px 30px;
  line-height: 1.625;
}

.bottom-text-title {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .bottom-text-title {
    font-size: 16px;
    line-height: 1.5;
  }
}

.bottom-text-sub-title {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .bottom-text-sub-title {
    font-size: 18px;
  }
}

.news-single-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .news-single-pagination {
    display: block;
    margin: 0 auto;
  }
}

.pagination-left {
  width: calc(50% - 31px);
  padding-left: 45px;
  position: relative;
  height: 95.85px;
  line-height: 1.5;
}

.pagination-left::before {
  content: "<";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 1000px;
  top: 10px;
  left: 6px;
  text-align: center;
  line-height: 32px;
  color: #F2CB01;
}

@media (max-width: 767px) {
  .pagination-left {
    width: 80%;
    margin: 0 auto;
  }
}

.pagination-left time {
  font-size: 12px;
}

.pagination-left p {
  font-size: 14px;
}

.pagination-right {
  width: calc(50% - 31px);
  padding-right: 45px;
  position: relative;
  height: 95.85px;
  line-height: 1.5;
}

.pagination-right::after {
  content: ">";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 1000px;
  top: 10px;
  right: 6px;
  text-align: center;
  line-height: 32px;
  color: #F2CB01;
}

@media (max-width: 767px) {
  .pagination-right {
    width: 80%;
    margin: 30px  auto 0;
  }
}

.pagination-right time {
  font-size: 12px;
}

.pagination-right p {
  font-size: 14px;
}

@media (max-width: 767px) {
  .pagination-right p {
    text-align: right;
  }
}

@media screen and (max-width: 572px) {
  .pagination-right p {
    text-align-last: left;
  }
}

.time-wrap {
  text-align: right;
}

#page-top {
  position: fixed;
  right: 30px;
  bottom: 24px;
}

#page-top img {
  width: 80px;
}

#page-top:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  #page-top {
    right: 30px;
    bottom: 20px;
  }
  #page-top img {
    width: 50px;
  }
}

footer {
  background-color: #1a1a1a;
  text-align: center;
}

footer p {
  color: #fff;
  padding: 31px 0 33px;
  font-size: 12px;
}
