@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN w3", "Meiryo", "メイリオ", sans-serif;
  font-size: 16px;
  color: #301F1B;
  background: url("../img/長方形 151@2x.png") fixed;
}

.inner {
  max-width: 810px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.btn-red {
  background-color: #C63205;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.section-title {
  font-size: 43px;
  text-align: center;
  line-height: 57px;
}

header {
  height: 90px;
}

.nav-wrap {
  width: 100%;
  overflow: hidden;
}

.header-nav {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 23px 0 22px;
  width: 600px;
  margin: 0 auto;
}

.header-nav ul li {
  font-size: 22px;
  line-height: 20px;
}

.header-nav ul li:last-child {
  margin: 0;
}

@media (max-width: 1000px) {
  .header-nav ul li {
    font-size: 18px;
    font-weight: bold;
  }
}

.header-nav-top {
  color: #421F15;
  text-align: center;
}

.header-nav-top::before {
  content: "トップ";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-top::before {
    font-size: 10px;
  }
}

.header-nav-news {
  color: #421F15;
  text-align: center;
}

.header-nav-news::before {
  content: "ニュース";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-news::before {
    font-size: 10px;
  }
}

.header-nav-story {
  color: #421F15;
  text-align: center;
}

.header-nav-story::before {
  content: "ストーリー";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-story::before {
    font-size: 10px;
  }
}

.header-nav-comments {
  color: #421F15;
  text-align: center;
}

.header-nav-comments::before {
  content: "著名人コメント";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-comments::before {
    font-size: 10px;
  }
}

.header-nav-cast {
  color: #421F15;
  text-align: center;
}

.header-nav-cast::before {
  content: "キャスト";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-cast::before {
    font-size: 10px;
  }
}

.header-nav-inquiry {
  color: #421F15;
  text-align: center;
}

.header-nav-inquiry::before {
  content: "問い合わせ";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-inquiry::before {
    font-size: 10px;
  }
}

.top {
  background: url(../../img/211@2x.jpg) no-repeat center center/cover;
  min-height: 60vh;
}

.top-inner {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 950px) {
  .main-title {
    text-align: center;
  }
}

.main-title img {
  padding-top: 60px;
  width: 920px;
}

@media screen and (max-width: 950px) {
  .main-title img {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 950px) {
  .top-text-left {
    text-align: center;
  }
}

.top-text-left img {
  padding-top: 184px;
  padding-bottom: 60px;
  width: 370px;
}

@media screen and (max-width: 950px) {
  .top-text-left img {
    width: 300px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.top-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  .top-text-wrap {
    display: block;
  }
}

.top-text-right {
  margin-left: 210px;
  margin-top: 88px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 950px) {
  .top-text-right {
    margin-top: 0;
    margin-left: 0;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
  .top-text-right p {
    padding: 0 40px;
  }
}

.top-btn {
  position: absolute;
  bottom: -30px;
  right: 0;
  margin-top: 30px;
  text-align: right;
}

.top-btn .top-btn-red {
  text-align: center;
  line-height: 60px;
  width: 200px;
  height: 60px;
  display: inline-block;
}

.intro-inner {
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.29) !important;
  background: url(../../img/左上画像装飾@2x.png) no-repeat top left/150px;
  width: 85%;
  margin: 60px auto 56px;
  padding-top: 26px;
}

.introduction-title {
  font-family: "Futura-CondensedMedium", "Futura", sans-serif;
}

@media (max-width: 767px) {
  .introduction-title {
    font-size: 30px;
  }
}

.introduction-sub-title {
  font-size: 34px;
  line-height: 46px;
  text-align: center;
}

@media (max-width: 767px) {
  .introduction-sub-title {
    font-size: 25px;
  }
}

.introduction-text-wrap {
  padding: 25px 30px 30px;
  line-height: 1.75;
  font-size: 12px;
}

.news {
  margin-bottom: 62px;
}

.news-inner {
  position: relative;
}

.news-title {
  margin-bottom: 27px;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-item img {
  width: 250px;
  height: 140px;
}

.flex {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-img {
  height: 88px !important;
  width: 156px !important;
}

.news-item-bottom {
  margin-top: -4px;
  background-color: #fff;
  padding: 14px 15px 50px;
}

.news-item-bottom time {
  font-size: 12px;
}

.news-item-bottom h4 {
  font-weight: 600;
}

.news-item-bottom-only2 {
  margin: 0;
  height: 88px;
}

.news-btn-red {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 10px 21px 11px;
}

.story {
  background: url(../../img/story-img@2x.jpg) no-repeat left center/cover;
  padding-top: 26px;
  padding-bottom: 50px;
}

.story-title {
  margin-bottom: 17px;
  color: #fff;
}

.story-text p {
  line-height: 1.75;
  margin-left: auto;
  font-size: 12px;
  color: #fff;
}

.story-btn {
  padding-top: 50px;
  text-align: right;
}

.story-btn .story-btn-red {
  padding: 7px 15.85px 7.43px;
}
