@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN w3", "Meiryo", "メイリオ", sans-serif;
  font-size: 16px;
  color: #301F1B;
  background: url("../img/長方形 151@2x.png") fixed;
}

.inner {
  max-width: 810px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .inner {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .inner {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.btn-red {
  background-color: #C63205;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.btn-brown {
  background-color: #603813;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.section-title {
  font-size: 43px;
  text-align: center;
  line-height: 57px;
}

@media (max-width: 900px) {
  .section-title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

header {
  height: 90px;
}

.nav-wrap {
  width: 100%;
  overflow: hidden;
}

.header-nav {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 23px 0 22px;
  width: 600px;
  margin: 0 auto;
}

.header-nav ul li {
  font-size: 22px;
  line-height: 20px;
}

.header-nav ul li:last-child {
  margin: 0;
}

@media (max-width: 1000px) {
  .header-nav ul li {
    font-size: 18px;
    font-weight: bold;
  }
}

.header-nav-top {
  color: #421F15;
  text-align: center;
}

.header-nav-top::before {
  content: "トップ";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-top::before {
    font-size: 10px;
  }
}

.header-nav-news {
  color: #421F15;
  text-align: center;
}

.header-nav-news::before {
  content: "ニュース";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-news::before {
    font-size: 10px;
  }
}

.header-nav-story {
  color: #421F15;
  text-align: center;
}

.header-nav-story::before {
  content: "ストーリー";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-story::before {
    font-size: 10px;
  }
}

.header-nav-comments {
  color: #421F15;
  text-align: center;
}

.header-nav-comments::before {
  content: "著名人コメント";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-comments::before {
    font-size: 10px;
  }
}

.header-nav-cast {
  color: #421F15;
  text-align: center;
}

.header-nav-cast::before {
  content: "キャスト";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-cast::before {
    font-size: 10px;
  }
}

.header-nav-inquiry {
  color: #421F15;
  text-align: center;
}

.header-nav-inquiry::before {
  content: "問い合わせ";
  display: block;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .header-nav-inquiry::before {
    font-size: 10px;
  }
}

.top {
  background: url(../../img/211@2x.jpg) no-repeat center center/cover;
}

.top-inner {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 950px) {
  .main-title {
    text-align: center;
  }
}

.main-title img {
  padding-top: 60px;
  width: 920px;
}

@media (max-width: 950px) {
  .main-title img {
    width: 700px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .main-title img {
    width: 100%;
    padding: 40px 20px 20px;
  }
}

@media (max-width: 950px) {
  .top-text-left {
    text-align: center;
  }
}

.top-text-left img {
  padding-top: 184px;
  padding-bottom: 60px;
  width: 370px;
}

@media (max-width: 950px) {
  .top-text-left img {
    width: 300px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .top-text-left img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 400px;
    padding-right: 65px;
    padding-left: 65px;
    width: 100%;
  }
}

.top-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 950px) {
  .top-text-wrap {
    display: block;
    padding-bottom: 50px;
  }
}

.top-text-right {
  margin-left: 210px;
  margin-top: 88px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

@media (max-width: 950px) {
  .top-text-right {
    margin-top: 0;
    margin-left: 0;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
  .top-text-right p {
    padding: 0 40px;
  }
}

@media (max-width: 950px) and (max-width: 767px) {
  .top-text-right p {
    font-size: 12px;
  }
}

.top-btn {
  position: absolute;
  bottom: -30px;
  right: 0;
  margin-top: 30px;
  text-align: right;
}

@media (max-width: 950px) {
  .top-btn {
    right: 50px;
  }
}

.top-btn .top-btn-red {
  text-align: center;
  line-height: 60px;
  padding: 21px 45px 19px;
}

@media (max-width: 950px) {
  .top-btn .top-btn-red {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .top-btn .top-btn-red {
    padding: 15px 20px 12px;
    font-size: 10px;
  }
}

.intro-inner {
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.29) !important;
  background: url(../../img/左上画像装飾@2x.png) no-repeat top left/230px;
  margin: 60px auto 56px;
  padding-top: 26px;
}

@media (max-width: 900px) {
  .intro-inner {
    background-size: 25%;
  }
}

.introduction-title {
  font-family: "Futura-CondensedMedium", "Futura", sans-serif;
}

@media (max-width: 900px) {
  .introduction-title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .introduction-title {
    font-size: 28px;
  }
}

.introduction-sub-title {
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 900px) {
  .introduction-sub-title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .introduction-sub-title {
    font-size: 17px;
    letter-spacing: -0.1em;
  }
}

.introduction-text-wrap {
  padding: 25px 30px 30px;
  line-height: 1.75;
  font-size: 12px;
}

.news {
  margin-bottom: 62px;
}

.news-inner {
  position: relative;
}

.news-title {
  margin-bottom: 27px;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .news-items {
    display: block;
  }
}

.news-item {
  display: block;
  width: calc(33.3% - 30px * 2 /3);
}

@media (max-width: 767px) {
  .news-item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.news-item img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .news-item img {
    width: 100%;
  }
}

.news-item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: calc(50% - 30px / 2);
}

.news-item-wrap {
  width: 100%;
}

.flex-img {
  max-width: 100%;
  height: auto;
  width: 156px !important;
  height: 88px !important;
}

.news-item-bottom {
  margin-top: -4px;
  background-color: #fff;
  padding: 14px 15px 50px;
}

@media (max-width: 767px) {
  .news-item-bottom {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

.news-item-bottom time {
  font-size: 12px;
}

.news-item-bottom h4 {
  font-weight: 600;
}

.news-item-bottom-only2 {
  margin: 0;
  padding-bottom: 17px;
  height: 100%;
  width: 100%;
}

.news-btn-red {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 10px 21px 11px;
}

.story {
  background: url(../../img/story-img@2x.jpg) no-repeat left center/cover;
  padding-top: 26px;
  padding-bottom: 50px;
}

.story-title {
  margin-bottom: 17px;
  color: #fff;
}

.story-text p {
  line-height: 1.75;
  margin-left: auto;
  font-size: 12px;
  color: #fff;
}

.story-btn {
  padding-top: 50px;
  text-align: right;
}

.story-btn .story-btn-red {
  padding: 7px 15.85px 7.43px;
}

.comments {
  padding-top: 55px;
  padding-bottom: 245px;
}

.comments-title {
  padding-bottom: 26px;
}

.comments-text {
  text-align: center;
  font-size: 24px;
  padding-bottom: 30px;
}

.comments-content {
  width: 100%;
  height: 214px;
  background: url(../../img/185@2x.jpg) no-repeat center center/cover;
  color: #fff;
}

.comments-body {
  padding: 44px 0 0 30px;
  text-align: left;
}

.comments-human-title {
  padding-bottom: 15px;
}

.comments-human-title span {
  font-size: 26px;
}

.comments-human-text {
  font-size: 14px;
  line-height: 1.57;
  max-width: 420px;
  width: 100%;
}

.comments-btn {
  text-align: right;
  margin-right: 14.29px;
  margin-top: 6.9px;
}

.comments-btn .comments-btn-red {
  padding: 8px 31px 9px;
}

.cast {
  background-color: #FFFFFFE6;
  padding-bottom: 30px;
  position: relative;
  height: 660px;
}

.cast-inner {
  position: absolute;
  top: -189px;
  right: 0;
  left: 0;
}

.cast-title {
  padding-bottom: 22px;
}

.cast-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cast-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.cast-item img {
  width: 220px;
  height: 220px;
  border-radius: 1000px;
}

.human {
  padding-top: 38.77px;
  padding-bottom: 12.23px;
  text-align: center;
  line-height: 30px;
  height: 82.5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.human2 {
  font-size: 18px;
}

.human3 {
  font-size: 12px;
}

.cast-item-text {
  font-size: 12px;
  line-height: 1.75;
  padding-bottom: 15.44px;
}

.cast-btn {
  text-align: center;
  margin: 0 auto;
  width: 115.7px;
}

.cast-btn .cast-btn-red {
  font-weight: 600;
  display: inline-block;
  padding: 6px 0;
  width: 100%;
  color: #C63205;
  background-color: #ffffe6;
  border: 5px solid #C63205;
  font-size: 14px;
}

.schedule-inner {
  margin: 60px auto 30px;
  background-color: rgba(255, 255, 255, 0.29);
}

.schedule-title {
  padding-top: 26px;
}

.schedule-nav {
  padding: 23px 83px 57px 87px;
}

.schedule-nav .schedule-nav-item {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 18px;
}

.schedule-nav .schedule-nav-item:last-child {
  padding-bottom: 0;
}

.schedule-nav-item-last {
  border-bottom: solid 1px #301F1B;
}

.schedule-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.schedule-brown-btn {
  padding: 22px 42px;
  font-size: 13px;
}

.schedule-red-btn {
  padding: 22px 42px;
  font-size: 13px;
  margin-left: 60px;
}

footer {
  background-color: #1a1a1a;
  text-align: center;
}

footer p {
  color: #fff;
  padding: 31px 0 33px;
  font-size: 12px;
}
