header {
  height: 90px;
}

.nav-wrap {
  width: 100%;
}

.header-nav {
  @include mq(sp) {
    display: none;
  }
}

.header-nav ul {
  display: flex;
  justify-content: center;
  padding: 23px 0 22px;
  // max-width: 652px;
  // width: 100%;
  // width: 600px;
  // min-width: 600px;
  margin: 0 auto;

  li {
    font-size: 22px;
    line-height: 20px;
    padding-right: 41.5px;
    padding-top: 1px;
    &:last-child {
      margin: 0;
    }
    &:first-child{
      padding-left: 46px;
    }
    @include mq-1000() {
      font-size: 18px;
      font-weight: bold;
    }
  }
}



// .header-nav-top
.header-nav ul li a {
  color: $color-header-text;
  text-align: center;
  // &::before {
  //   content: "トップ";
  //   display: block;
  //   font-size: 12px;

  //   @include mq-1000(){
  //     font-size: 10px;
  //   }
  // }
}

.header-nav ul li a::before {
  @include mq-1000() {
    font-size: 100px;
  }
}

.header-nav ul li:nth-child(1) a::before {
  content: "トップ";
  display: block;
  font-size: 12px;
}
.header-nav ul li:nth-child(2) a::before {
  content: "ニュース";
  display: block;
  font-size: 12px;
}
.header-nav ul li:nth-child(3) a::before {
  content: "ストーリー";
  display: block;
  font-size: 12px;
}
.header-nav ul li:nth-child(4) a::before {
  content: "著名人コメント";
  display: block;
  font-size: 12px;
}
.header-nav ul li:nth-child(5) a::before {
  content: "キャスト";
  display: block;
  font-size: 12px;
}
.header-nav ul li:nth-child(6) a::before {
  content: "問い合わせ";
  display: block;
  font-size: 12px;
}

.header-list li:nth-child(4){
  text-align: center;
  // padding-left: 50px;
}

// .header-nav-news {
//   color: $color-header-text;
//   text-align: center;
//   &::before {
//     content: "ニュース";
//     display: block;
//     font-size: 12px;
//     @include mq-1000(){
//       font-size: 10px;
//     }
//   }
// }
// .header-nav-story {
//   color: $color-header-text;
//   text-align: center;
//   &::before {
//     content: "ストーリー";
//     display: block;
//     font-size: 12px;
//     @include mq-1000(){
//       font-size: 10px;
//     }
//   }
// }
// .header-nav-comments {
//   color: $color-header-text;
//   text-align: center;
//   &::before {
//     content: "著名人コメント";
//     display: block;
//     font-size: 12px;
//     @include mq-1000(){
//       font-size: 10px;
//     }
//   }
// }
// .header-nav-cast {
//   color: $color-header-text;
//   text-align: center;
//   &::before {
//     content: "キャスト";
//     display: block;
//     font-size: 12px;
//     @include mq-1000(){
//       font-size: 10px;
//     }
//   }
// }
// .header-nav-inquiry {
//   color: $color-header-text;
//   text-align: center;
//   &::before {
//     content: "問い合わせ";
//     display: block;
//     font-size: 12px;
//   @include mq-1000(){
//     font-size: 10px;
//   }
//   }
// }

.hamburger-btn {
  width: 50px;
  height: 50px;
  position: relative;
  position: fixed;
  top: 15px;
  right: 30px;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  display: none;
  z-index: 100;

  @include mq(sp) {
    display: block;
  }

  span {
    position: absolute;
    background-color: $color-main;
    border-radius: 4px;
    display: block;
    width: 84%;
    height: 16%;
    left: 50%;
    top: 50%;
    margin: -8% 0 0 -42%;
    transition: all 0.5s ease 0s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 4px;
      display: block;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      margin: -8% 0 0 -50%;
      background-color: $color-main;
    }
    &::before {
      margin-top: -38%;
    }
    &::after {
      margin-top: 19%;
    }
  }
}
// .is-chekerが付いた時
.hamburger-btn {
  &.is-checker {
    right: 53%;
    span {
      background-color: transparent;
      &::before,
      &::after {
        content: "";
        display: block;
        height: 100%;
        left: 50%;
        margin: -8% 0 0 -42%;
        position: absolute;
        top: 50%;
        width: 100%;
        background-color: #fff;
      }
      &::before {
        transform: rotate(45deg);
        transition: all 0.5s ease 0s;
      }
      &::after {
        transform: rotate(-45deg);
        transition: all 0.5s ease 0s;
      }
    }
  }
}
.hamburger {
  z-index: map-get($layer, "drawer");
  position: fixed;
  width: 50%;
  background: url("../img/151@2x.png");
  right: 0;
  height: 100%;
  font-size: 20px;
  transition: all 0.5s ease 0s;
  transform: translateX(105%);
  top: 0;
  &.is-checker {
    transform: translateX(0);
  }
}
.hamburger-back {
  display: none;
  top: 0;
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 35;
  opacity: 0;
  &.is-checker {
    opacity: 0.5;
    display: block;
  }
}
.hamburger__lists {
  text-align: center;
  margin-top: 60px;
}
.hamburger__list {
  padding-top: 20px;
  padding-bottom: 20px;
}

// .hamburger__list a{
//   padding-top: 100px;
//   display: inline-block;
//   color: red;
// }

.hamburger__list a{
    margin-top: 50px;
    display: inline-block;
}

// .next-btn { /* 右側に固定する部分 */
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 25px; /* 固定部分の幅 */
//   height: 100%; /* メニューの高さに合わせる */
//   line-height: 40px;
//   background: #fff;
//   color: #555;
// }
