.schedule-inner {
  margin: 60px auto 30px;
  background-color: rgba(255, 255, 255, 0.29);
}

.schedule-title {
  padding-top: 33px;
 letter-spacing: -0.15em;
}

.schedule-inquiry{
  margin-top: 103px;
}

.schedule-nav {
  padding: 25px 70px 57px 70px;
  @include mq(sp) {
    padding: 10px 20px 20px 20px;
    // max-width: 550px;
  }
  .schedule-nav-item {
    font-size: 20px;
    display: flex;
    letter-spacing: -0.05em;
    justify-content: center;
    padding-bottom: 24px;
    &:last-child {
      padding-bottom: 0;
    }
    @include mq-900() {
      font-size: 15px;
    }
    @include mq(sp) {
      display: block;
      font-size: 15px;
      text-align: left;
      width: 170px;
      line-height: 30px;
      margin: 0 auto;
      text-align: left;
      // padding-top: 30px;
      :first-child(){
        padding-top: 0;
      }
    }
  }
  // @include mq-350(){
  //   font-size: 10px;
  // }
}

.schedule-nav-item p{
  
  margin-right: 35px;
  &:nth-child(4){
    // flex-grow: 1;
    margin-right: 0;
  }
}

.schedule-nav-item-link {
  border-bottom: solid 1px $color-main;
}

.schedule-btns {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  @include mq-540() {
    display: block;
  }
}

.schedule-brown-btn {
  // padding: 22px 42px;
  font-size: 13px;
  width: 193px;
  height: 60px;
  line-height: 60px;
  @include mq(sp) {
    display: block;
    margin: 30px auto;
    padding: 30px 0 22px ;
    text-align: center;
    line-height: 0px;
    padding-top: 30px;
  }
}

.schedule-red-btn {
  line-height: 60px;
  // padding: 22px 42px;
  font-size: 13px;
  margin-left: 30px;
  width: 193px;
  height: 60px;
  @include mq(sp) {
    display: block;
    line-height: 0px;
    margin: 30px auto;
    padding: 30px 0 22px;
    text-align: center;
  }
}
