.comments {
  padding-top: 55px;
  padding-bottom: 245px;
}

.comments-title {
  padding-bottom: 26px;
}

.comments-text {
  text-align: center;
  font-size: 24px;
  padding-bottom: 30px;
}

.comments-content {
  width: 100%;
  min-height: 214px;
  background: url(../../img/185@2x.jpg) no-repeat center center / cover;
  color: $color-white;
  @include mq-900(){
   height: 250px; 
  }
  @include mq-540(){
    background-image: none;
    height: 100%;
  }
}

.comments-body {
  padding: 44px 0 0 30px;
  text-align: left;
  @include mq-540(){
    padding: 30px 30px 30px 30px ;
    // height: 150px;
    background-color: $color-main;
  }
}

.comments-human-title {
  // font-size: px;
  padding-bottom: 15px;
  span {
    font-size: 26px;
  }
}

.comments-human-text {
  font-size: 14px;
  line-height: 1.57;
  max-width: 420px;
  width: 100%;
}

.comments-btn{
  text-align: right;
  margin-right: 14.29px;
  margin-top: 6.9px;
  @include mq-540(){
    margin-top: 30px;
    margin-right: 0;
    text-align: center;
  }
  .comments-btn-red{
    padding: 8px 31px 9px;
  }
}

.comments-sp-img{

  img{
    display: none;
    @include mq-540(){
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position:70%;
    }
  }
}

