.top {
  background: url(../../img/211@2x.jpg) no-repeat center center/cover;
  // min-height: 60vh;
}

.top-inner {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
  // padding: 0 100px;
}

.main-title {
  // text-align: center;
  @include mq-950(){
    text-align: center;
  }
  img {
    // margin-left: 110px;
    padding-top: 60px;
    width: 920px;
    @include mq-950(){
      width: 700px;
      padding-right: 40px;
      padding-left: 40px;
    }
    @include mq(sp){
      width: 100%;
      padding: 40px 20px 20px;
    }
    // @include mq-420(){
    //   width: 400px;
    // }
  }
}

.top-text-left {

  @include mq-950(){
    text-align: center;
  }
  img {
    // margin-left: 110px;
    padding-top: 184px;
    padding-bottom: 60px;
    width: 370px;
    @include mq-950(){
      width: 300px;
      padding-top: 40px;
      padding-bottom: 30px;
    }
    @include mq(sp){
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 400px;
      padding-right: 65px;
      padding-left: 65px;
      width: 100%;
    }
  }
}

.top-text-wrap {
  display: flex;
  @include mq-950(){
    display: block;
    padding-bottom: 50px;
  }
  
}
.top-text-right {
  margin-left: 210px;
  margin-top: 88px;
  color: $color-white;
  font-size: 14px;
  line-height: 22px;
  // p{

  //   letter-spacing: -0.1em;
  // }
  
  @include mq-950(){
    margin-top: 0;
    margin-left: 0;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    p{
      padding: 0 40px;
      @include mq(sp){
        font-size: 12px;
      }
    }
  }
}

.top-btn{
  position: absolute;
  bottom: -30px;
  right: 0;
  margin-top: 30px;
  text-align: right;
  @include mq-950(){
    right: 50px;
  }
  @include mq(sp){
    // right: 50%;
    // transform: translateX(50%);
    // margin-top: 10px;
    
  }
  .top-btn-red{
    text-align: center;
    line-height: 60px;
    // width: 200px;
    // height: 60px;
    // display: inline-block;
    padding: 21px 45px 19px;
    @include mq-950(){
      font-size: 12px;
    }
    @include mq(sp){
      padding: 15px 20px 12px;
      font-size: 10px;
    }
  }
}
// *{
//   outline: solid 1px #000;
// }