.story{
  background: url(../../img/story-img@2x.jpg)no-repeat left center / cover;
  padding-top: 26px;
  padding-bottom: 50px;
}

.story-title{
  margin-bottom: 17px;
  color: $color-white;
}

.story-text {
  p{
    line-height: 1.75;
    margin-left: auto;
    font-size: 12px;
    color: $color-white;
  }
}

.story-btn{
  padding-top: 50px;
  text-align: right;
  @include mq(sp){
    text-align: center;
  }
  .story-btn-red{
    padding: 7px 15.85px 7.43px;
  }
}

