.entry-404-btn{
  width: 200px;
  background-color: $color-btn-red;
  text-align: center;
  margin-top: 25px;
}

.entry-404-btn a{
  color: $color-white;
  font-size: 14px;
  
}

.entry-404{
  margin-bottom: 83px;

}