.page-comments{
  padding-top: 0;
  padding-bottom: 0;
}


.page-comments-text{
  padding-top: 17px;
}


.comments-page-title{
  padding-bottom: 23px;
  letter-spacing: -0.05em;
  padding-top: 9px;
}

.schedule-title-comments{
padding: 26px;
}

.comments-schedule{
  margin-top: -25px;
}

.comments-schedule-nav{
  padding: 0px 66px 57px 70px;
}