body {
  font-family: $font-family-default;
  font-size: $font-size-base;
  color: $color-main;
  background: url('../img/長方形 151@2x.png')fixed;
}

.inner{
  max-width: 810px;
  margin: 0 auto;
  @include mq-900(){
    max-width: 700px;
    // margin-right: 50px;
    // margin-left: 50px;
  }
  @include mq(sp){
    width: 90%;
  }
}

a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  &:hover{
    color:rgba(0,0,0,0.6);
    text-decoration: none;

  }
}

.btn-red{
  background-color: $color-btn-red;
  color: $color-white;
  font-size: 14px;
  cursor: pointer;
}

.btn-brown{
  background-color: $color-btn-brown;
  color: $color-white;
  font-size: 14px;
  cursor: pointer;
}

.section-title{
  font-size: 43px;
  text-align: center;
  line-height: 57px;
  @include mq-900(){
    font-size: 32px;
  }
  @include mq(sp){
    font-size: 28px;
  }
}

@media screen and (max-width: 767px){
  .pc-only{
    display: none;
  }
}

@media screen and (min-width: 768px){
  .sp-only{
    display: none;
  }
}


