.page-cast-bottom{
  padding-top: 50px;
  padding-bottom: 35.7px;
  background-color: #FFFFFFE6;
  margin-bottom: 100px;
}

.page-cast-bottom-items{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  @include mq-900(){
    justify-content: center;
  }
  @include mq(sp){
    display: block;
    text-align: center;
  }
  
}

.page-cast-item-bottom{
  width: 100%;
  max-width: 250px;
  margin-top: 30.5px;
  margin-right: 30px;
  height: 99.56px;
  line-height: 1.5;
  &:nth-child(3n){
    margin-right: 0;
  }

  @include mq-900(){
    width: calc(33.3% - 30px * 2 / 3);
  }
  @include mq(sp){
    width: 300px;
    margin: 0 auto !important;
    padding-top: 50px;
    
  }
}