.page-cast-top{
  margin-top: 200px;
  // height: auto;
  @include mq(sp){
    height: auto;
    padding-bottom: 50px;
    margin-top: 20px;
}
}

.page-cast-inner{
  @include mq(sp){
    position: static;
    padding-top: 50px;
  }
}

.cast-page-breadcrumb{
  padding-bottom: 16px;
}

