.news-single-title{
  margin-bottom: 26px;
  margin-top: 13px;
  letter-spacing: -0.05em;
}

.news-single-item{
  margin-bottom: 30.29px;
  width: 100%;
  margin: 0 auto;
}
.strong1{
  font-size: 22px;
}
.strong2{
  font-size: 18px;
}
// .news-single-img{
//   width: 100%;
//   height: 100%;
//   vertical-align: bottom;
// }

.news-single-img{
  max-width: 810px;
  width: 100%;
  img{
    // object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.middle-text{
  background-color: #000;
  color: $color-white;
  padding-top: 15px;
  margin-top: -5px;
  time{
    font-size: 12px;
    padding-left: 30px;
  }
  p{
    font-size: 26px;
    padding-top: 12px;
    padding-left: 30px;
    padding-bottom: 9px;
    @include mq(sp){
      font-size: 20px;
    }
  }
}

.bottom-text{
  background-color: #fff;
  padding: 30px 30px 100px 30px;
  @include mq(sp){
    padding-bottom: 50px;
  }
  .aka{
    color: blue;
  }

  p{
    // &:first-child{
    //   display: none;
    // }
    padding: 32px 30px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    // @include mq(sp){
    //   font-size: 12px;
    // }
  }
  
}

.bottom-text-title{
  font-size: 22px;
  font-weight: 600;
  @include mq(sp){
    font-size: 16px;
    line-height: 1.5;
  }
}

.bottom-text-sub-title{
  font-size: 18px;
  font-weight: 600;
  @include mq(sp){
    font-size: 18px;
  }
}

.news-single-pagination{
  margin-top: 30px;
}

.pagination-inner{
  display: flex;
  justify-content: space-between;
  @include mq(sp){
    display: block;
    margin: 0 auto;
  }
}

.pagination-left{
  width: calc(50% - 31px);
  padding-left: 45px;
  position: relative;
  height: 95.85px;
  line-height: 1.5;
  &::before{
    content: "<";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 1000px;
    top: 10px;
    left: 6px;
    text-align: center;
    line-height: 32px;
    color: #F2CB01;
  }
  @include mq(sp){
    width: 80%;
    margin: 0 auto;
  }
  time{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
}





.pagination-right{
  // width: calc(50% - 31px);
  padding-right: 45px;
  position: relative;
  height: 95.85px;
  line-height: 1.5;
  // justify-content: flex-end;
  margin-left: auto;
  // text-align: right;
  &::after{
    content: ">";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 1000px;
    top: 10px;
    right: 6px;
    text-align: center;
    line-height: 32px;
    color: #F2CB01;
  }
  @include mq(sp){
    width: 80%;
    margin: 30px  auto 0;
  }
  time{
    font-size: 12px;
  }
  p{
    font-size: 14px;
    @include mq(sp){
      text-align: right;
    }
    @media screen and (max-width: 572px){
      text-align-last: left;
    }
  }
}

.time-wrap{
  text-align: right;
}

.pagination-text-right{
  text-align: right;
}
