.news-single-title{
  margin-bottom: 26px;
}

.news-single-item{
  margin-bottom: 30.29px;
}

.news-single-img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.middle-text{
  background-color: #000;
  color: $color-white;
  padding-top: 15px;
  time{
    font-size: 12px;
    padding-left: 30px;
  }
  p{
    font-size: 26px;
    padding-top: 12px;
    padding-left: 30px;
    padding-bottom: 12px;
    @include mq(sp){
      font-size: 20px;
    }
  }
}

.bottom-text{
  background-color: #fff;
  padding-bottom: 100px;
  @include mq(sp){
    padding-bottom: 50px;
  }

  p{
    padding: 35px 30px;
    line-height: 1.625;
    // @include mq(sp){
    //   font-size: 12px;
    // }
  }
  
}

.bottom-text-title{
  font-size: 22px;
  font-weight: 600;
  @include mq(sp){
    font-size: 16px;
    line-height: 1.5;
  }
}

.bottom-text-sub-title{
  font-size: 18px;
  font-weight: 600;
  @include mq(sp){
    font-size: 18px;
  }
}

.news-single-pagination{
  display: flex;
  justify-content: space-between;
  @include mq(sp){
    display: block;
    margin: 0 auto;
  }
}

.pagination-left{
  width: calc(50% - 31px);
  padding-left: 45px;
  position: relative;
  height: 95.85px;
  line-height: 1.5;
  &::before{
    content: "<";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 1000px;
    top: 10px;
    left: 6px;
    text-align: center;
    line-height: 32px;
    color: #F2CB01;
  }
  @include mq(sp){
    width: 80%;
    margin: 0 auto;
  }
  time{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
}

.pagination-right{
  width: calc(50% - 31px);
  padding-right: 45px;
  position: relative;
  height: 95.85px;
  line-height: 1.5;
  // text-align: right;
  &::after{
    content: ">";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 1000px;
    top: 10px;
    right: 6px;
    text-align: center;
    line-height: 32px;
    color: #F2CB01;
  }
  @include mq(sp){
    width: 80%;
    margin: 30px  auto 0;
  }
  time{
    font-size: 12px;
  }
  p{
    font-size: 14px;
    @include mq(sp){
      text-align: right;
    }
    @media screen and (max-width: 572px){
      text-align-last: left;
    }
  }
}

.time-wrap{
  text-align: right;
}


